# Rust build
**/target/
/**/*.rs.bk

**/appimagetool.AppDir/

# IDE
.idea/
.vscode/

# Logs
*.log
log.txt

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Backup files
*~
*.bak
*.swp

# AppImage build cache
/AppDir/
/*.AppImage

# Windows installer outputs
SleepTimerInstaller.exe
*.iss.bak

# Cargo specific
Cargo.lock
